@model HeThongNhaSach.Models.Nhanvien

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo nhân viên</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manv" class="control-label">Mã nhân viên</label>
                <input asp-for="Manv" class="form-control" />
                <span asp-validation-for="Manv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matkhau" class="control-label">Mật khẩu</label>
                <input asp-for="Matkhau" class="form-control" />
                <span asp-validation-for="Matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoten" class="control-label">Họ tên nhân viên</label>
                <input asp-for="Hoten" class="form-control" />
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label">Địa chỉ</label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysinh" class="control-label"> Ngày sinh</label>
                <input asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phai" class="control-label">Giới tính</label>

                <select asp-for="Phai" class="form-control">
                    <option value="True">-- Nam --</option>
                    <option value="False">-- Nữ --</option>
                </select>

                @*<input asp-for="Phai" class="form-control" />*@
                <span asp-validation-for="Phai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Macv" class="control-label">Chức vụ</label>
                <select asp-for="Macv" class ="form-control" asp-items="ViewBag.Macv"></select>
            </div>
            <div class="form-group">
                <label asp-for="Phucap" class="control-label">Phụ cấp</label>
                <input asp-for="Phucap" class="form-control" />
                <span asp-validation-for="Phucap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luong" class="control-label">Lương</label>
                <input asp-for="Luong" class="form-control" />
                <span asp-validation-for="Luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo nhân viên" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
