@model HeThongNhaSach.Models.Chucvu

@{
    ViewData["Title"] = "Create";
}

<<<<<<< HEAD
<h1>Create</h1>

<h4>Chucvu</h4>
=======
<h1>Tạo nhân viên</h1>

>>>>>>> a445a4153798aa13716d281869a69d9754782e61
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
<<<<<<< HEAD
                <label asp-for="Tencv" class="control-label"></label>
=======
                <label asp-for="Tencv" class="control-label">Tên Chức vụ</label>
>>>>>>> a445a4153798aa13716d281869a69d9754782e61
                <input asp-for="Tencv" class="form-control" />
                <span asp-validation-for="Tencv" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <label asp-for="Taikhoan" class="control-label"></label>
=======
                <label asp-for="Taikhoan" class="control-label">Tài khoản</label>
>>>>>>> a445a4153798aa13716d281869a69d9754782e61
                <input asp-for="Taikhoan" class="form-control" />
                <span asp-validation-for="Taikhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <label asp-for="Matkhau" class="control-label"></label>
=======
                <label asp-for="Matkhau" class="control-label">Mật khẩu</label>
>>>>>>> a445a4153798aa13716d281869a69d9754782e61
                <input asp-for="Matkhau" class="form-control" />
                <span asp-validation-for="Matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Create" class="btn btn-primary" />
=======
                <input type="submit" value="Tạo" class="btn btn-primary" />
>>>>>>> a445a4153798aa13716d281869a69d9754782e61
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
